.transport-container {
  min-height: 100vh;
}
.transport-transport {
  width: 100%;
  height: 768px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.transport-component1 {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.transport-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.transport-d-a-l-l-e2023022214521 {
  top: 0px;
  left: 0px;
  width: 164px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.transport-text {
  top: 27px;
  left: 954px;
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-text02 {
  top: 27px;
  left: 1052px;
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-text04 {
  top: 27px;
  left: 1124px;
  color: rgba(0, 0, 0, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-rectangle3 {
  top: 0px;
  left: 1286px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.transport-text06 {
  top: 27px;
  left: 1305px;
  color: rgba(214, 27, 34, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-component2 {
  top: 100px;
  left: 1263px;
  width: 84px;
  height: 86px;
  position: absolute;
}
.transport-component6 {
  top: 80px;
  left: 0px;
  width: 1366px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.transport-rectangle4 {
  top: 0px;
  left: 683px;
  width: 683px;
  height: 12px;
  position: absolute;
  border-color: transparent;
}
.transport-rectangle6 {
  top: 0px;
  left: 0px;
  width: 683px;
  height: 12px;
  position: absolute;
  border-color: transparent;
}
.transport-component27 {
  top: 470px;
  left: 234px;
  width: 898px;
  height: 248px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.transport-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-text09 {
  font-weight: 900;
}
.transport-text16 {
  left: 610px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-text29 {
  left: 460px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-text30 {
  font-weight: 900;
}
.transport-text42 {
  left: 839px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-text55 {
  left: 159px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-text56 {
  font-weight: 900;
}
.transport-text66 {
  left: 309px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-text67 {
  font-weight: 900;
}
.transport-text81 {
  top: 234px;
  left: 373px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.transport-component28 {
  top: 253px;
  left: 184px;
  width: 1000px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.transport-rectangle15 {
  top: 0px;
  left: 0px;
  width: 1000px;
  height: 80px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.transport-text83 {
  top: 11px;
  left: 282px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
